/* Definitions: */
@keyframes card-flip {
    20% {transform: scale(1.4) rotate(-3deg);box-shadow: -12px 12px 12px 0  rgba(0,0,0,0.5);}
    100% {transform: scale(1.2) rotate(1deg);box-shadow: -6px 6px 6px 0 rgba(0,0,0,0.5);}
}

body {
    margin: 0 auto;
    background-color: white;
    width: 100vw;
    height: 100vh;
}

header {   
    display: flex;
    flex-direction: row;
    padding: 20px;
    margin: 0 auto;
}

div {
    width: 100%;
}

.assignments {
    margin: 0;
    padding: 20px;
    width: 50vw;
    color: #000;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 800;
    font-size: 1em;
}

main {
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}


a {
    all: unset;
}

a:hover {
    background-image: none;
    background-color: #db2497;
    color: #000;
    cursor: pointer;
}

.box:hover {
    animation-name: card-flip;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.box {
    margin: 25px;
    padding: 50px;
    border-radius: 2px;
    color: #000;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 800;
    font-size: 1.5em;
}

.omni7th {
    background-color: #97DB24;

}

.omni8th {
    background-color: #2497db;

}

.omni7th-8th {
    background-image: repeating-linear-gradient(45deg, #97DB24, #2497db 25%, #97DB24 50%)
}