:root {
    --lightGray: #aaaaaa;
    --lightOrange: #eeddaa;
    --lightGreen: #aaeebb;
    --lightBlue: #aabbee;
    --lightRed: #eeaadd;
    --darkGray: #474747;
    --darkOrange: #b28e24;
    --darkGreen: #24b247;
    --darkBlue: #2447b2;
    --darkRed: #b2248e;
}

.goldleaf {
    background-color: linear-gradient (180deg,
        hsl(43,88%,52%) 0%,
        hsl(43,88%,32%) 7%,
        hsl(43,88%,52%) 14%,
        hsl(43,88%,72%) 20%,
        hsl(43,88%,52%) 24%,
        hsl(43,88%,72%) 30%,
        hsl(43,88%,52%) 31%,
        hsl(43,88%,32%) 36%,
        hsl(43,88%,72%) 55%,
        hsl(43,88%,32%) 57%,
        hsl(43,88%,72%) 72%,
        hsl(43,88%,32%) 79%,
        hsl(43,88%,52%) 90%,
        hsl(43,88%,72%) 94%,
        hsl(43,88%,52%) 100%);
}
