@import url(colors.css);
@import url(colors.css);

/* Definitions: */
.goldleaf {
    background-color: linear-gradient (180deg,
        hsl(43,88%,52%) 0%,
        hsl(43,88%,32%) 7%,
        hsl(43,88%,52%) 14%,
        hsl(43,88%,72%) 20%,
        hsl(43,88%,52%) 24%,
        hsl(43,88%,72%) 30%,
        hsl(43,88%,52%) 31%,
        hsl(43,88%,32%) 36%,
        hsl(43,88%,72%) 55%,
        hsl(43,88%,32%) 57%,
        hsl(43,88%,72%) 72%,
        hsl(43,88%,32%) 79%,
        hsl(43,88%,52%) 90%,
        hsl(43,88%,72%) 94%,
        hsl(43,88%,52%) 100%);
}

@keyframes increase {
    20% {transform: scale(2.5, 1.5) rotate(-6deg)}
    80% {transform: scale(1.5, 2) rotate(6deg)}
}

@keyframes decrease {
    20% {transform: scale(0.8, 0.6) rotate(-2deg)}
    80% {transform: scale(0.6, 0.8) rotate(2deg)}
}

.increased {
    animation: increase .67s;
}

.decreased {
    animation: decrease 0.5s;
}


body {
    margin: 0 auto;
    background-color: #000;
}

a {
    all: unset;
}

body {
    width: 100vw;
    display: block;
    margin: 0 auto;
}

header {
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

main {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(5, 20%);
    grid-template-rows: 50% 50%;
}

.score {
    margin: 30% 6%;
    padding: 25% 6%;
    border-radius: 50px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 800;
    font-size: 7em;
    text-align: center;
    display: block;
}

