/* Definitions: */
.goldleaf {
    background-color: linear-gradient (180deg,
        hsl(43,88%,52%) 0%,
        hsl(43,88%,32%) 7%,
        hsl(43,88%,52%) 14%,
        hsl(43,88%,72%) 20%,
        hsl(43,88%,52%) 24%,
        hsl(43,88%,72%) 30%,
        hsl(43,88%,52%) 31%,
        hsl(43,88%,32%) 36%,
        hsl(43,88%,72%) 55%,
        hsl(43,88%,32%) 57%,
        hsl(43,88%,72%) 72%,
        hsl(43,88%,32%) 79%,
        hsl(43,88%,52%) 90%,
        hsl(43,88%,72%) 94%,
        hsl(43,88%,52%) 100%);
}

body {
    margin: 0 auto;
    background-color: #000;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

a {
    all: unset;
}

main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 50px;
    height: 50%;
}

footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

input {
    font-size: 5em;
    font-family: sans-serif;
    font-weight: 700;
    padding: 15px;
    text-align: center;
    border: none;
    background-color: #333;
    color: #fff;
    width: 15%;
    border-radius: 10px;
}

header {
    width: 100vw;
    height: 20vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#score-1 {
    padding: 5vh 0 5vh 0;
    width: 20vw;
    border-radius: 15px;
    background-color: #712a79;
    color: #fff;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 800;
    font-size: 5em;
    text-align: center;

}

#score-2 {
    padding: 5vh 0 5vh 0;
    width: 20vw;
    border-radius: 15px;
    background-image: linear-gradient(160deg,
        hsl(43,88%,62%) 0%,
        hsl(43,88%,32%) 20%,
        hsl(43,88%,52%) 31%,
        hsl(43,88%,72%) 57%,
        hsl(43,88%,32%) 90%,
        hsl(43,88%,52%) 100%);
    color: #000;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 800;
    font-size: 5em;
    text-align: center;
}

#score-3 {
    padding: 5vh 0 5vh 0;
    width: 20vw;
    border-radius: 15px;
    background-color: #333;
    color: #fff;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 800;
    font-size: 5em;
    text-align: center;

}

#average-score {
    background-color: white;
    font-size: 5em;
    font-family: sans-serif;
    font-weight: 800;
    color: black;
    border-radius: 15px;
    padding: 5vh 0 5vh 0;
    width: 20vw;
    text-align: center;
}