/* Definitions: */
body {
    margin: 0 auto;
    background-color: linear-gradient (-150deg,
        hsl(43,88%,52%) 0%,
        hsl(43,88%,32%) 7%,
        hsl(43,88%,52%) 14%,
        hsl(43,88%,72%) 20%,
        hsl(43,88%,52%) 24%,
        hsl(43,88%,72%) 30%,
        hsl(43,88%,52%) 31%,
        hsl(43,88%,32%) 36%,
        hsl(43,88%,72%) 55%,
        hsl(43,88%,32%) 57%,
        hsl(43,88%,72%) 72%,
        hsl(43,88%,32%) 79%,
        hsl(43,88%,52%) 90%,
        hsl(43,88%,72%) 94%,
        hsl(43,88%,52%) 100%);
}

a {
    all: unset;
}

main {
    width: 100vw;
    height: 100vh;
}