/* Definitions: */
* {
        font-family: 'Tahoma', sans-serif;
}


body {
    margin: 0;
}

p {
    height: 30px;
    width: 300px;
    border-radius: 5px;
    background-color: #888;
    color: white;
    font-weight: bold;
    margin: 50px;
    padding: 20px;
    text-align: center;
}

main {
    margin: 0 auto;
    background-color: #fff;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: top;
}

a {
    all: unset;
}

.element, .group {
    transition: opacity 1s;;
    opacity:100%;
}

.group:hover {
    cursor: pointer;
    opacity:100%;
}

.hidden {
    opacity:0;
    filter: blur(16px);
}

.checked {
    background-color: #b0f;
}

.label {
    font-size: 120px;
    stroke: none;
    fill: black;
    font-weight: 900;
}

.sarep {
    font-size: 60px;
    stroke: none;
    fill: black;
}

.name {
    font-size: 40px;
    stroke: none;
    fill: #ccc;
}

.quantity, .quality {
    stroke:none;  
    font-size:50px;
}

.relationship-label {
    stroke:none; 
    fill:black; 
    font-size:30px;
}

.t {
    stroke: #47f;
    stroke-width: 5px;
    fill: #47f;
    font-size:55px;
}

.f {
    stroke: #f00;
    stroke-width: 5px;
    fill: #f00;
    font-size:55px;
}


div {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

#square-image {
    height: 100vh;
    margin: 0;
}

.nav-button {
    margin: 25px;
    padding: 50px;
    border-radius: 10px;
    background-color: #712a79;
    color: #fff;
    font-weight: 800;
    font-size: 2em;
}

.nav-button:hover {
    background-image: linear-gradient(160deg,
        hsl(43,88%,62%) 0%,
        hsl(43,88%,32%) 20%,
        hsl(43,88%,52%) 31%,
        hsl(43,88%,72%) 57%,
        hsl(43,88%,32%) 90%,
        hsl(43,88%,52%) 100%);
    color: #000;
}