body {
    margin: 0 auto;
    background-color: #ddd;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

header {
}

input {
    width: 6vh;
    height: 6vh;
    text-align:center;
    border: none;
    border-radius: 0;
    background: white;
    font-size: 5vh;
}

#propositions, #truth-values {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    height: 8vh;
    padding: 2vh;
}

#propositions {
    border-bottom: 5px solid black;
}

footer {
    position: fixed;
    top: 0;
    left: 1vw;
    background: none;
    color: #000;
    height: 4vh;
    width: 4vh;
    font-size: 3vh;
}